<a href="https://colab.research.google.com/github/ddong1523/colab/blob/main/3308%EB%B0%95%ED%98%84%EB%B9%88(%EB%85%BC%EC%88%A0%ED%98%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

컴퓨터과 3학년 3반 8번 박현빈

In [11]:
num1 = int(input("첫번째 숫자 입력 = "))
num2 = int(input("두번째 숫자 입력 = "))
result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 // num2
result6 = num1 % num2
result7 = num1 ** num2
print(num1,"+",num2,"=",result1)
print(num1,"-",num2,"=",result2)
print(num1,"*",num2,"=",result3)
print(num1,"/",num2,"=",result4)
print(num1,"//",num2,"=",result5)
print(num1,"%",num2,"=",result6)
print(num1,"**",num2,"=",result7)

첫번째 숫자 입력 = 100
두번째 숫자 입력 = 20
100 + 20 = 120
100 - 20 = 80
100 * 20 = 2000
100 / 20 = 5.0
100 // 20 = 5
100 % 20 = 0
100 ** 20 = 10000000000000000000000000000000000000000