<a href="https://colab.research.google.com/github/ddong1523/colab/blob/main/Lession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a = 100
b = 200
c = a + b
d = a - b
e = a * b
f = a / b
print(a, "+", b , "=", c)
print(a, "-", b , "=", d)
print(a, "*", b , "=", e)
print(a, "/", b , "=", f)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

-input()함수 예제

In [12]:
num1 = input("첫번째 숫자 입력 ==>")
num2 = int(input("두번째 숫자 입력 ==>"))
result = int(num1) + num2
print(num1, "+", num2, "=", result)

첫번째 숫자 입력 ==>34
두번째 숫자 입력 ==>123
34 + 123 = 157

In [18]:
a = int(input("첫번째 숫자 입력 ==>"))
b = int(input("두번째 숫자 입력 ==>"))
print(a,"+", b, "=", a+b )
print(a,"-", b, "=", a-b )
print(a,"*", b, "=", a*b )
print(a,"/", b, "=", a/b )

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

In [23]:
num1 = input("사용자 이름 입력 ==>  ")
num2 = input("전화번호 입력 ==>  ")
print("제 이름은", num1,"이고, 연락처는",num2,"입니다.")

사용자 이름 입력 ==>  홍길동
전화번호 입력 ==>  010-1234-5678
제 이름은 홍길동 이고, 연락처는 010-1234-5678 입니다.

In [27]:
print("## 택배를 보내기 위한 정보를 입력하세요. ##")
a = input(" 받는 사람 : ")
b = input(" 주소 : ")
c = int(input(" 무게(g) : "))
print("받는 사람 ==> ",a,)
print("주소 ==> ",b,)
print("배송비 ==> ",c*5, "원")

## 택배를 보내기 위한 정보를 입력하세요. ##
 받는 사람 : 홍길동
 주소 : 안산시 상록구 월피동
 무게(g) : 400
받는 사람 ==>  홍길동
주소 ==>  안산시 상록구 월피동
배송비 ==>  2000 원

In [29]:
a = int(input("숫자1 ==> "))
b = int(input("숫자2 ==> "))
print(a,"+", b, "=", a+b )
print(a,"-", b, "=", a-b )
print(a,"*", b, "=", a*b )
print(a,"/", b, "=", a/b )
print(a,"%", b , "=", a%b)
print(a,"**", b , "=", a**b)
print(a,"//", b , "=", a//b)

 숫자1 ==> 100
 숫자2 ==> 10
100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0
100 % 10 = 0
100 ** 10 = 100000000000000000000
100 // 10 = 10

In [34]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle

turtle.initializeTurtle()
turtle.forward()
turtle.left()
turtle.forward()

TypeError: ignored